<app-navbar></app-navbar>
<!-- <div class="container py-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h3 class="text-success">📦 Product List</h3>
    <button class="btn btn-primary" (click)="onAddProduct()">➕ Add Product</button>
  </div>

  <div *ngIf="products.length === 0; else productGrid" class="text-center mt-5">
    <img src="assets/empty-box.png" alt="Empty" width="150" class="mb-3">
    <h5 class="text-muted">No products available</h5>
    <p>Add some new products to display here.</p>
  </div>

  <ng-template #productGrid>
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let product of products">
        <div class="card h-100 shadow-sm">
          <img [src]="product.image" class="card-img-top" alt="{{ product.name }}">
          <div class="card-body text-center">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="text-success fw-bold">৳ {{ product.price }}</p>
            <button class="btn btn-outline-primary btn-sm">View Details</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div> -->



<div class="container my-4">
  <h2 class="mb-4">🛒 Product List</h2>
  <div class="row">
    <div *ngFor="let product of products" class="col-md-3 mb-4">
      <div class="card h-100 shadow-sm">
        
        <img [src]="'data:image/jpeg;base64,' + product.image" class="card-img-top" alt="{{ product.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p><b>৳</b> {{ product.price }}</p>
          <p><b>Category:</b> {{ product.category }}</p>
          <p><b>Stock:</b> {{ product.quantity }}</p>
          <div class="d-flex gap-2"> <button type="button" class="btn btn-primary btn-sm"> <i class="bi bi-pencil-square"></i> Edit </button> <button type="button" class="btn btn-danger btn-sm"> <i class="bi bi-trash"></i> Delete </button> </div>
        </div>
      </div>
    </div>
  </div>
</div>
