<header class="navbar">
  <div class="logo"><img src="logo1.png" alt="logo" height="60px" /></div>
  <nav>
    <a href="marketplace" class="btn" routerLink="/marketplace">Marketplace</a>
    <a class="btn" href="guides/" routerLink="/guides">Guides</a>
    <a href="community" class="btn" routerLink="/community">Community</a>
    <a href="info" class="btn" routerLink="/rental">Information</a>
    <a class="btn" href="blogs/" routerLink="/rental">Blogs</a>
    <a class="btn" routerLink="/rental" href="https://www.bssnews.net/agriculture-news">News Portal</a>
  </nav>

  <form class="d-flex ms-auto" role="search" style="margin-right: 32px">
    <div class="input-group">
      <input class="form-control" type="search" placeholder="Search products..." aria-label="Search" />
      <button class="btn btn-outline-success" type="submit">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </form>

  <div class="icons" style="margin-right: 12px">
    <i style="margin-right: 12px" class="fa fa-shopping-cart"></i>
    <a class="btn btn-warning" href="cart">My Cart</a>
  </div>
  <br />
  <br />

  <!-- Profile Section -->
  <div class="dropdown profile-menu">
    <img src="profile.jpg" alt="Profile" class="rounded-circle" width="40" height="40" role="button"
      id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false" />
    <ul class="dropdown-menu dropdown-menu-end mt-2 shadow" aria-labelledby="profileDropdown">
      <li>
        <h6 class="dropdown-header">Hello, Zakaria!</h6>
      </li>
      <li>
        <a class="dropdown-item" routerLink="/profile"><i class="fa fa-user me-2"></i> Profile</a>
      </li>
      <li>
        <a class="dropdown-item" routerLink="/orders"><i class="fa fa-box me-2"></i> My Orders</a>
      </li>
      <li>
        <a class="dropdown-item" routerLink="/settings"><i class="fa fa-cog me-2"></i> Settings</a>
      </li>
      <li>
        <hr class="dropdown-divider" />
      </li>
      <li>
        <a class="dropdown-item text-danger" (click)="logout()"><i class="fa fa-sign-out-alt me-2"></i> Logout</a>
      </li>
    </ul>
  </div>
</header>