.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #204e29;
    color: white;
    padding: 10px 30px;
  }
  .navbar nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
  }

  .profile-menu img {
    transition: 0.3s ease;
  }
  .profile-menu img:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
  .dropdown-menu {
    border-radius: 10px;
    min-width: 180px;
  }
  .dropdown-item i {
    color: #555;
  }
  