<section class="marketplace-products container py-5">
    <div class="section-title text-center mb-4">
      <h2>AgroVilla 🌱🌿🍁 Seeds</h2>
      <p>High-quality seeds for every season.</p>

    </div>
  
    <div class="row">
      <div class="col-md-3 mb-4" *ngFor="let product of products">
        <div class="card product-card h-100">
          <img [src]="product.image" class="card-img-top" alt="{{ product.name }}">
          <div class="card-body text-center">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text text-success fw-bold">৳ {{ product.price }}</p>
            <p class="text-warning">★ ★ ★ ★ ☆</p>
            <button class="btn btn-primary btn-sm">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  