<app-navbar></app-navbar>
<div class="checkout-container">
  <h2>My Cart</h2><br>

  <table class="cart-table">
    <thead>
      <tr>
        <th>Image</th>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cartItems; let i = index">
        <td><img [src]="'data:image/jpeg;base64,' + item.image" alt="Product Image" width="40" /></td>
        <td>{{ item.name }}</td>
        <td>৳ {{ item.price }}</td>
        <td>
          <button (click)="decreaseQty(i)">−</button>
          {{ item.quantity }}
          <button (click)="increaseQty(i)">+</button>
        </td>
        <td><button (click)="removeItem(i)">🗑️</button></td>
      </tr>
    </tbody>
  </table>

  <div class="order-summary">
    <h3>Order Summary</h3>
    <!-- <p>Subtotal ({{ cartItems.length }} items): <strong>৳ {{ getTotal() }}</strong></p> -->
    <p>Subtotal ({{ getTotalQuantity() }} items): <strong>৳ {{ getTotal() }}</strong></p>
    <p>Shipping Fee: <strong>৳ 0</strong></p>
    <p>Total: <strong>৳ </strong></p>
    <button class="checkout-btn">Proceed to Checkout</button>
  </div>
</div>
