<div class="container my-5">
    <h2 class="text-center mb-4">🌾 Crop Farming Guides</h2>
    <div class="row g-4">
      <div class="col-md-4" *ngFor="let crop of crops">
        <div class="card h-100 shadow-sm">
          <img [src]="crop.image" class="card-img-top" alt="{{ crop.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ crop.name }}</h5>
            <p class="card-text">{{ crop.shortGuide }}</p>
            <button class="btn btn-success btn-sm" (click)="crop.showMore = !crop.showMore">
              {{ crop.showMore ? 'Hide Details' : 'View Details' }}
            </button>
            <div *ngIf="crop.showMore" class="mt-3">
              <h6>Expert Advice:</h6>
              <ul>
                <li *ngFor="let tip of crop.tips">{{ tip }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  